<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <style>
        .allQ{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
        }
        .quot{
            margin-bottom: 20px;
            padding: 25px;
            text-align: center;
            background-color: #16a085;
        }
        .quot img{
            height: 50%;
        }
        .quot h2{
            font-size: 20px;
            font-weight: bold;
        }
        .quot p{
            margin: 20px 0;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <header>
        <img src="https://github.com/HamzhSuilik/simpsons-app/blob/main/public/img/the_simpsons.png?raw=true" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/favorite">Favorite</a></li>
            
        </ul>
    </header>
    <main>
       <div class="allQ">
           <% data.forEach(obj => { %>
            <div class="quot">
                <h2><%= obj.character %> </h2>
                <img src=<%= obj.image %>  alt="">
                <p><%= obj.quote %></p>
                <form action="/addFav" method="POST">
                <input type="hidden" name="character" value='<%= obj.character %>'>
                <input type="hidden" name="image" value=<%= obj.image %>>
                <input type="hidden" name="quote" value='<%= obj.quote %>'>
                <input type="hidden" name="characterDirection" value='<%=obj.characterDirection %>'>
                <input type="submit" value="Add To Favorite">
                </form>
            </div>
           <% }) %>
       </div> 
    </main>
</body>
</html>